body {
  background: rgb(26, 28, 31);
  font-family: 'Ubuntu', sans-serif;
  height: 100vh;
  color: #fff;
}

.form-item {
  background-color: #212529;
  color: #fff;
  border-color: rgb(71, 78, 83);
}

::-webkit-scrollbar {
  width: 0;
}
